<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@website.title} : #{@portfolio.title}" %></title>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <%= default_head %>
  <style type="text/css"><%= default_css %></style>
</head>
<body>
<% if(signed_in?) %>
	<%= link_to "editor mode", website_path(@website), id:'back_to_admin' %>
<% end %>
<%= default_layout %>
<%= yield :navigator %>
<%= yield %>

</body>
</html>
